html {
    display: flex;
    justify-content: center;
    font-family: 'Courier New', monospace;
    background-image: url('assets/tile3.png');
    background-size: repeat;
}
body {
    /* width: 60%; */
    min-width: 600px;
    user-select: none;
}

.window {
    position: absolute;
    top: 100px;
    /* left: 50px; */
    width: 700px;
    height: 500px;
    /* background-color: white; */
    background-color: #fcf9f6;
    border: 2px solid #5f574f;
    border-radius: 5px;
    box-shadow: 5px 5px 0px #333333aa;
}
.window #content {
    padding: 5px;
    user-select: text;
    color: #5f574f;
    padding: 10px;
    white-space: break-spaces;
    user-select: text;
    overflow-y: scroll;
    height: calc(100% - 90px);
    scrollbar-width: auto;
}

.fade-in-text {
    color: transparent;
    background: linear-gradient(to right, #5f574f 1%, rgba(0, 0, 0, 0.1) 100%);
    background-clip: text;
    opacity: 0;
    animation: fadeIn 1s forwards;
}
@keyframes fadeIn {
    to {
        color: 5f574f;
        opacity: 1;
        background: linear-gradient(to right, #5f574f 100%, rgba(0, 0, 0, 0.1) 100%);
        background-clip: text;
    }
}

.window .title-bar {
    height: 30px;
    background-color: #5b4e5d;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-radius: 3px 3px 0 0;
    cursor: pointer;
}
.window .title-bar .title {
    align-self: center;
    width: 100%;
    text-align-last: center;
}
.window .title-bar .close-button {
    padding: 2px;
    width: 10px;
    height: 10px;
    background-color: lightcoral;
    border-radius: 20%;
    margin-right: 5px;
    border: 1px solid transparent;
}
.window .title-bar .close-button:hover {
    background-color: coral;
    border: 1px solid bisque;
}

.window .menu-bar {
    height: 30px;
    background-color: #97859d;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.window .menu-bar ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-self: baseline;
}
.window .menu-bar ul li {
    margin-right: 20px;
    cursor: pointer;
    padding: 6px;
}
.window .menu-bar ul li:hover {
    background-color: #5b4e5d;
}


marquee {
    color: gray;
}

.app-icon {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    z-index: -100;
}
.app-icon:hover {
    border: 1px solid #5f574f;
    /* background-color: #c4b4c7; */
}
.app-icon .app-label {
    /* border: 1px solid #5f574f; */
    position: absolute;
    top: 55px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    color: black;
    background-color: #ccccccee;
    padding: 0 1px 0 1px;
    border-radius: 4px;
    width: 120px;
    text-align: center;
}
